<main>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <hr class="featurette-divider">

    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Factura en físico <span class="text-body-secondary">o en
            digital.</span></h2>
        <p class="lead">Genera la factura de venta para tu negocio del modo que prefieras en físico o en digital,
          nuestra base datos es amplia.</p>
      </div>
      <div class="col-md-5">
        <img style="width:500px" src="./assets/images/facturacion-electronica.jpg">
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>-->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Reportes de ventas diarios. <span
            class="text-body-secondary">Revísalo por tí mismo.</span></h2>
        <p class="lead">Genera reportes de ventas diarios y en el momento que desees, puedes generar reporte de ventas
          mediante totales y si quieres realizar la auditoría de tu inventario puedes hacer un reporte detallado.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="./assets/images/dashboard-de-ventas.jpg" style="width: 470px">
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>-->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Manejamos una gran variedad de catálogos. <span
            class="text-body-secondary">Inventario de bienes y servicios.</span></h2>
        <p class="lead">gestiona tu inventario de productos y servicios de la mejor manera posible, manejamos un
          inventario estático para optimizar los procesos de facturación de tu negocio.</p>
      </div>
      <div class="col-md-5">
        <img src="./assets/images/catalogo-productos.png" style="width: 500px">
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>-->
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>